body{
    height: 2000px;
}

.box-1{
    width: 300px;
    height: 300px;
    background-color: cadetblue;
    /* position: absolute;
    top: 100px;
    left: 100px;
    opacity: 0; 
    position: relative;
    position: fixed;
    top: 50%;
    left: 50%;*/
}

.box-2{
    width: 300px;
    height: 500px;
    background-color: crimson;
    position: relative;
}

.child-box{
    width: 100px;
    height: 100px;
    background-color: yellow;
    position:sticky;
    top: 100px;
   
  
}


/*

position: absolute->removes from normal document flow
position: relative-> follows normal document flow
position: fixed->removes from normal document flow*/